@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  min-height: 100vh;
  font-family: Inter;
}
/* utility  */
a {
  text-decoration: none;
}

.our-color {
  color: #7d0003;
}
.navbar {
  border: 1px solid #f1f5f8;
  background: #fafafa;
}

/* home page  */
.track {
  padding: 6rem 0px;
}
.track .recovery-bg {
  width: 100%;
  height: 406px;
  background: url(./image/recovery-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.track p.our-color {
  text-align: center;
  line-height: 25px;
}
.partners {
  padding: 6rem 0px;
}
.partners .partner {
  padding: 1.5rem;
}
.partners h4,
.track h4 {
  color: #333;
  text-align: center;
  /* font-family: Aeonik TRIAL; */
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 2.5rem;
}
.partners a {
  color: #7d0003;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.partners h5 {
  text-align: center;
  color: #333;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 1.5rem;
}
.partners p {
  color: #4f4f4f;
  /* font-family: Aeonik TRIAL; */
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 1.5rem;
}
.partners .img-wrap img {
  width: 118px;
  height: auto;
}
.partners .img-wrap {
  text-align: center;
  margin-bottom: 1.5rem;
}
.security {
  color: #333;
  font-family: Inter;
  padding: 6rem 0px 2rem;
}
.security h4 {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 39px;
  margin-bottom: 4.5rem;
}
.security .d-flex {
  align-items: center;
  gap: 1rem;
  margin-bottom: 4rem;
}
.security h5 {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  text-transform: capitalize;
  margin-bottom: 6px;
}
.security p {
  color: #4f4f4f;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  margin-bottom: 0px;
}

/* end home page  */

/* footers  */

.powered-by {
  padding: 6rem 0px;
}
.powered-by img {
  width: 74px;
  height: auto;
}
.powered-by h5 {
  color: #333;
  font-family: Inter;
  font-size: 30px;
  font-weight: 700;
  line-height: 39px;
}
footer {
  background: #fafafa;
  color: #666;
}
footer .position-fixed {
  position: sticky;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: white;
  z-index: 1;
}
footer .copyright {
  padding: 1.5rem 0px;
  gap: 1rem;
}
footer .copyright p {
  color: #666;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.28px;
  margin-bottom: 0px;
}

footer .copyright a {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1; */
  text-decoration: none;
  color: var(--Primary-Color, #f40);
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  padding: 8px 1rem;
}
footer ul {
  list-style: none;
}
footer h5 {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.9px;
  margin-bottom: 1rem;
}
.base-footer {
  background: #000;
  padding-top: 3rem;
  padding-bottom: 4rem;
}
.base-footer .left {
  width: 336px;
  max-width: 100%;
}
.base-footer p {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 24px;
}

.base-footer .contact-btn {
  border-radius: 4px;
  background: #7d0003;
  padding: 12px 1.5rem;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 23.86px;
}
.base-footer li img {
  width: 35px;
  height: 32px;
}
.base-footer .right p {
  margin-bottom: 40px;
}
.download {
  background: #7d0003;
  color: white;
  padding-top: 2.5rem;
  padding-bottom: 4.5rem;
}
.download > div {
  background: url(./asset/image/download-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.download h4 {
  color: #fff;
  font-family: Inter;
  font-size: 60px;
  font-weight: 800;
  line-height: 60px;
  letter-spacing: -1.8px;
  width: 401px;
  max-width: 100%;
  margin-bottom: 1rem;
}
.download p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 487px;
  max-width: 100%;
  margin-bottom: 4rem;
}
.download h5 {
  width: 389px;
  font-size: 24px;
  font-weight: 700;
  line-height: 150%; /* 36px */
  margin-bottom: 1.5rem;
  max-width: 100%;
}
.download a {
  text-decoration: none;
}
.download .btn p,
.download .btn h6 {
  margin-bottom: 0px;
  color: #4f4f4f;
  width: auto;
  text-align: start;
  color: #4f4f4f;
}
.download .btn p {
  font-size: 10px;
  font-weight: 500;
  line-height: 15px;
}
.download .btn h6 {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}
.download .btn {
  padding: 8px 10px;
  width: auto;
  background: white;
  gap: 12px;
}
.download .img-wrap img {
  width: 520px;
  height: auto;
  max-width: 100%;
}

/* about us  */
.about-page h3 {
  color: #2c2c2c;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 50.4px;
  margin-bottom: 1rem;
}
.about-page h6 {
  color: rgba(44, 44, 44, 0.8);
  /* font-family: Aeonik TRIAL; */
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  width: 493px;
  max-width: 100%;
  margin-bottom: 3rem;
}
.about-page .hero {
  padding: 2rem 0px 6rem;
}

.about-page .hero a {
  text-decoration: none;
}
.about-page .hero .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  background: #7d0003;
  box-shadow: 0px 21px 45px 0px rgba(30, 66, 138, 0.1);
  border: none;
}
.about-page .hero .btn p {
  color: #fff;
  font-size: 10px;
  font-weight: 500;
  line-height: 15px;
  margin: 0px;
  margin-bottom: -2px;
  text-align: start;
}
.about-page .hero .btn h6 {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin: 0px;
  width: auto;
}
.about-page .hero .img-wrap {
  background-image: url(./image/about-hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 580px;
  background-position: center;
}
.about-page .hero h4 {
  margin-bottom: 2.5rem;
  color: #7d0003;
  /* font-family: Aeonik TRIAL; */
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  text-align: center;
}
.about-page .we-are {
  color: #1c1c1c;
  text-align: center;
  /* font-family: Aeonik TRIAL; */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  width: 738px;
}

@media (min-width: 1200px) {
  .about-page .hero .container {
    max-width: 1000px;
  }
  .container2 {
    max-width: 1100px;
  }
}

@media (max-width: 768px) {
  .copyright ul li {
    margin-bottom: 1rem;
  }
  .copyright p,
  .copyright .order-1 {
    text-align: center;
    width: 100%;
  }
  .download h4 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 576px) {
  .copyright ul {
    flex-wrap: wrap;
  }
  .copyright ul a {
    justify-content: flex-start;
    width: auto;
  }
  .copyright {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
